body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 1000vh;
    background-color: #3A4278;
}


.cabecalho{
    background-color: #3A4278;
    display: flex;
    justify-content: space-between;
    align-items: center; /* Isso centraliza verticalmente os elementos */
    
    
}

.logo-and-search{
    display: flex;
    align-items: center;
}


.cabecalho .search{
    margin-left: 10px;
}

.menu-container{
    display: flex;
    gap: 76px;
    
}

.grid-container{
    background-color: beige;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    gap: 10px;
    
}
.grid-container img{
    width: 200px;
    height: 300px;
}
.grid-item1-menu-lateral{
    background-color: #A19F9F;
    grid-row: 1 / 7;
}

footer{
    background-color: #333232;
    color: #A19F9F;
    display: flex;
    justify-content: center;
    align-items: end;
}