body {
    background-color: rgb(127, 112, 214);
    color: white;
    font-family: Arial;
    font-size: 30px;
    display: grid;
  
  }
  
  .filmes{
    background-color: #eae9ec;
    color: rgb(9, 9, 9);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin-top: 10px;
    margin: 30px;
    width: 60px;
    margin-left: 60px;
  }
  
  .filmes1{
    background-color: #eae9ec;
    color: rgb(9, 9, 9);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    margin-top: 10px;
    margin: 30px;
    width: 100px;
    margin-left: 278px;
  }
  
  .background-image {
    background-image: url("/assets/img/img-fundo.png");
    background-size: cover;
    width: 80%;
    height: 800px;
    padding: 20px;
    margin: 50px;
    display: flex;
    margin-left: 269px;
  }
  
  .conteudo-coluna {
    text-align: right;
    margin-top: -725px;
  
  }
  
  .inputcomentario {
    width: 800px;
    height: 200px;  
    display: flex;
    background-color: #422e48;
    color: rgb(248, 241, 241);
    font-size: 30px;
    border-radius: 10px;
    margin-left: 285px;
  }
  
  .imgS {
    text-align: left;
    display: inline-block;
    max-width: 100%;
    vertical-align: top;
    width: 500px;
    border-radius: 10px;
  }
  
  .filme-info {
    display: grid;
    grid-template-columns: auto 1fr; 
    grid-gap: 20px;
  }
  
  .imgS, .filme-info {
    display: inline-block;
    vertical-align: top; 
  }
  
  .titulo {
    font-size: 50px;
    margin-top: 10px;
    padding: 10px;
  }
  
  .ano {
    font-size: 25px;
    margin-top: 5px;
  }
  
  .filmesb{
    background-color: #eae9ec;
    color: rgb(9, 9, 9);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    width: 70px;
    height: 15px;
  }
  
  .sinopse {
    font-size: 30px;
    margin-top: 10px;
    width: 800px;
    margin-left: 540px;
    text-align: center;
  }
  
  .trailer-button {
    background-color: #ff5733;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-size: 30px;
    margin-top: 10px;
    width: 140px;
    height: 40px;
    text-align: center;
  }
  
  .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    width: 96%;
    margin: 10px;
    text-align: center;
    padding: 10px;
  }
  
  .comentarios {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
  }
  
  .comentario1{
    display: flex;
    margin-left: 535px;
  }
  
  .comentar-button {
    background-color: #9e4de9;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    margin-top: -59px;
    width: 190px;
    display: flex;
    text-align: center;
    height: 40px;
    margin-left: 1110px;
  }
  
  .titulo, .hora,.trailer-button, .filmesb{
    display: flex;
    margin-left: 540px;
  }
  
  .ano{
    display: flex;
    margin-left: 530px;
  }
  
  .titulo{
    display: flex;
    margin-left: 530px;
  }
  
  .horario{
    display: flex;
    margin-left: 2px;
    font-size: 25px;
  }
  
  .avaliacao{
    display: flex;
    margin-left: 15px;
    margin-top: -10px;
  }
  
  .icone{
    width: 50px;
    height: 50px;
  }
  
  .direitos-reservados {
    text-align: center;
    margin-top: 20px;
  }