body{
    background-color: #3a4278;
}


/* estilo cabeçalho */
header{
    display: flex;
    align-items: self-start;
    
}

/* Estilo da barra de pesquisa */
.search {
    display: flex;
    align-items: center;
    background-color: #f2f2f2;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Estilo do campo de pesquisa */
.search input[type="text"] {
    flex-grow: 1;
    border: none;
    outline: none;
    padding: 8px;
    border-radius: 5px 0 0 5px;
}

/* Estilo do botão de pesquisa */
.search button {
    background-color: #7981B8;
    border: none;
    outline: none;
    padding: 8px 12px;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}

/* Estilo da imagem da lupa (ajuste o tamanho conforme necessário) */
.search button img {
    width: 20px;
    height: 20px;
    fill: #fff; /* Cor do ícone de pesquisa */
}

/* Reset de margens e preenchimento */
body, ul {
    margin: 0;
    padding: 0;
}

.menu-lateral {
    width: 45px; /* Largura do menu */
    background-color: #333; /* Cor de fundo */
    color: #fff; /* Cor do texto */
    font-family: Arial, sans-serif; /* Fonte do texto */
}

.menu-lateral ul {
    list-style-type: none; /* Remover marcadores de lista */
    padding: 0;
}

.menu-lateral li {
    padding: 10px;
    text-align: center;
}

/* efeito de troca de cor quando o mouse passa por cima */
.menu-lateral li:hover {
    background-color: #555; /* Cor de fundo quando o mouse passa por cima */
}


footer{
    background-color: #333232;
    color: #A19F9F;
    display: flex;
    justify-content: center;
    align-items: end;
}


